@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

body {
    margin: 0;
    background-color: #f1f5f9;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    width: 100vw;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 0.5%;
    background-color: #2563eb;
    
}

.heading {
        font-family: 'Lora', serif; /* A beautiful serif font */
        font-size: 36px; /* Large font size */
        font-weight: bold; /* Make it bold */
        color: #f1f5f9; /* Dark gray color */
}

.practiceButton {
    position: fixed;
    bottom: 0;
}

/*male of female questions */
.mOrFButtonHolder {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    gap: 6%;
}
.maleButton {
    height: 50%;
    width: 47%;
    font-size: xx-large;
}
.femaleButton {
    height: 50%;
    width: 47%;
    font-size: xx-large;
}

/* age slider */
.ageSliderBox {
    grid-row: 2 / 3;
    grid-column: 2/3;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
}
.ageSliderBox label {
    font-size: xx-large;
    font-weight: bold;
}
.sliderButtonContainer {
    display: flex;
    align-items: center;
    width: 50vw;
}
.sliderButtonContainer p {
    font-size: xx-large;
    margin-left: 5%;
}

.sliderButtonContainer input {
    height: 200%;
    width: 200%;
}
.sliderAgeButton {
    height: 50%;
    
    border-radius: 8px;
    border: none;
    background-color: #2563eb;
    color: white;
    margin-left: 10%;
}
.sliderAgeButton:hover {
    background-color: grey;
}


